body {
    background-color: #ccffcc;
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
    flex-direction: column;
    margin: 0;
    padding: 0;
    animation: bg-change 10s infinite;
}

@keyframes bg-change {
  0%   { background-color: #8BC34A; } 
  25%  { background-color: #A5D6A7; } 
  50%  { background-color: #66BB6A; } 
  75%  { background-color: #C5E1A5; } 
  100% { background-color: #8BC34A; } /*Sites from ChatGPT*/
}

h1 {
    font-family: 
    font-family: 'Helvetica'   
    font-size: 400px;                   
    color: #000000;   
    font-weight: Light;                
}

a {
    color: inherit;         
    text-decoration: none;  
    display: block;       
    margin-bottom: 30px;  
  }